 *{
    margin: 0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
 } 

.container{
    width:100%;
    min-height:100vh; 
    background-image: linear-gradient(135deg,#adc2ec,#9e6fea); 
    background-image: url("images/giphy.webp"); 
    background-size: cover;
    padding:10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    margin:100px auto 20px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #e7edf7;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.todoBox{
    background-image: url(images/box.jpeg);
    background-size: cover;
    padding: 20px 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e0e2e7;
    border-radius: 30px;
    margin-bottom: 25px;
    height: 45px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    height: 45px;
    order: none;
    outline: none;
    padding: 12px 40px;
    font-weight: 700;
    background: #0f9c4a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/images.png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 38px;
    height: 38px;
    font-size: 22px;
    color: #64666b;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: rgb(204, 206, 206);
    border-radius: 50%;
}
